.custom-login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

.custom-login-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.custom-login-page input[type="email"],
.custom-login-page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.custom-login-page div.login-remember_div{
    padding: 10px;
}
.custom-login-page div input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #007BFF; /* This color is supported in modern browsers */
}

.custom-login-page label {
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}

.custom-login-page button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.custom-login-page button:hover {
    background-color: #0056b3;
}

.custom-login-page p {
    color: red;
    font-size: 14px;
    text-align: center;
}
